[project]
	description = Project Euler
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jagadeep Ram (Jagadeepram)
[access "refs/for/refs/*"]
	read = group user/Jagadeep Ram (Jagadeepram)
	push = group user/Jagadeep Ram (Jagadeepram)
	label-Code-Review = -2..+2 group user/Jagadeep Ram (Jagadeepram)
	label-Verified = -1..+1 group user/Jagadeep Ram (Jagadeepram)
	rebase = group user/Jagadeep Ram (Jagadeepram)
	removeReviewer = group user/Jagadeep Ram (Jagadeepram)
	submit = group user/Jagadeep Ram (Jagadeepram)
[access "refs/heads/*"]
	read = group user/Jagadeep Ram (Jagadeepram)
	create = group user/Jagadeep Ram (Jagadeepram)
	push = +force group user/Jagadeep Ram (Jagadeepram)
	pushMerge = group user/Jagadeep Ram (Jagadeepram)
[access "refs/tags/*"]
	push = group user/Jagadeep Ram (Jagadeepram)
	push = +force group user/Jagadeep Ram (Jagadeepram)
